# Compiled Object files
*.obj
*.res

# Visual Studio
/.vs
*.suo
*.ncb
*.idb
*.pdb
*.tlog
*.log
*.lastbuildstate
*.ilk
*.iobj
*.ipdb
*.exp
*.dll
*.lib
*.exe
*.htm

# ctags
tags

# Native script packages
/CTGame/Classes
/CTMarkers/Classes
/Core/Classes
/Editor/Classes
/Engine/Classes
/Gameplay/Classes
/IpDrv/Classes
/Window/Classes
/XInterface/Classes

# Non-native script packages
/AccessoryProperties
/ALAudio
/AnimPropProperties
/AudioEnv
/CTAudio
/CTCharacters
/CTEffects
/CTInventory
/DeathProperties
/FootstepProps
/KarmaPropProperties
/LightObjectProperties
/MarkerProperties
/MoverProperties
/MPGame
/PhysicalMaterials
/Properties
/Reverb
/StaticPropProperties
/UDebugMenu
/VoicePacks
/XGame
/XInterfaceCommon
/XInterfaceCTMenus
/XInterfaceGamespy
/XInterfaceLive
/XInterfaceMP
# TODO: Remove once headers are added
/UWindow
/UnrealEd
/WinDrv
