# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Visual Studio
/.vs
*.suo
*.ncb
*.idb
*.pdb
*.tlog
*.log
*.lastbuildstate
*.ilk
*.iobj
*.ipdb
*.exp
*.dll
*.lib
*.exe
*.htm